		div
		{
			/* Transition of width and height with a delay of 2 seconds */
			/* Set diplay to inline-block to fix divsion content around the border */
			border: 2px solid blue;				 
			display: inline-block;	
			margin-top: 120px;
			margin-left: 100px;		   	  	 
		  	transition: width 2s, height 2s, transform 5s;
		}
		div:hover
		{
			/* rotate division content with 360 deg */
			width: 500px;
			height: 400px;
			transform: rotate(360deg);			 
		}
		img:hover
		{
			width: 500px;
			height: 400px;
			border-radius: 30px;		 
		}		 